body{
background: #1FA2FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding-left: 100px;
    padding-top: 150px;
}
.main-div{
    border: 0;
}

.heading{
    border: 0;
    display: flex;
    align-items: center;
}
.heading img{

    height: 70px;
    justify-content: left;
    gap: 10px;
}
.heading h1{
    color: rgb(0, 2, 2);
    font-size: 40px;
}
.button button{
    display: flex;
    background-color: #a333ee;
    border: 0px;
    border-radius: 20px;
    margin-top: 30px;
    align-items: center;
    gap: 15px;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.button button:hover{
    background-color: #7a26b3;
    transform: scale(1.05);
}

.button button img{
    height: 30px;
}
.button button h2{
    color: rgb(213, 228, 228);
}

.notes textarea{
    margin-top: 20px;
    height: 150px;
    width: 50%;
    border: 0px;
    padding: 10px;
    border-radius: 10px;
}
.notes{
    display: flex;
}

.notes img{
    margin-top: 20px;
    height: 30px;
    margin-left: 10px;
}