.button{
   display: flex;
   gap: 20px;
   
   padding: 20px;
}
button{
    height: 80px;
   width: 160px;
   background-color: blueviolet;
   color: aliceblue;
   font-size: larger;
   font-weight: bolder;
   border: 0;
   border-radius: 20px;
   cursor: pointer;
}
button:hover{
    background-color: brown;
}
#toastbox{
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px  ;
}
.toast{
    width: 400px;
    height: 80px;
    background-color: antiquewhite;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    padding-left: 5px;
    border-radius: 5px;
    position: relative;
    transform: translateX(100%);
    animation: moveleft 0.5s linear forwards;
}


@keyframes moveleft{
    100%{
        transform: translateX(0%);
    }
}
.toast i{
    color: green;
    font-size: 35px;
    margin: 0 20px;
}

.toast.error i{
    color: red;
}
.toast.invalid i{
    color: brown;
}


.toast::after{
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: anim 5s linear forwards;
    position: absolute;
}


@keyframes anim{
    100%{
        width: 0;
    }
}
.toast.error::after{
    background: red;
}
.toast.invalid::after{
    background: orange;
}


